/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* General styles */

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Ensures images resize within their container */

img {
  max-width: 100%;
  height: auto;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5vw;
}

#logo-image img {
  width: 10vw;
  max-height: 10vh;
  min-width: 100px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding-left: 0;
}

/* Page container */

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  min-width: 500px;
}

/* Hero */

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-image img {
  width: 100vw;
  max-width: 1000px;
  object-fit: cover;
}

/* Headline */

.headline-container {
  transform: translate(-50%, -50%);
  color: white;
  /* font-size: 1em; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  text-align: center;
}

.headline-container h1 {
  font-size: 4em;
}

.headline-container p {
  font-size: 1.5em;
}


/* What's on */

.whats-on {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.whats-on h2 {
  flex-basis: 100vw;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #1db954;
  text-decoration-thickness: 0.3vh;
  text-underline-offset: 1.25vh;
  margin-bottom: 5vh;
  min-width: 500px;
}

.why-box {
  align-content: center;
  text-align: center;
  margin: max(1.5vw, 5%);
}

.why-box img {
  height: 8vh;
}

.why-box h3 {
  color: #1db954;
}

.why-box p {
  text-align: center;
  margin: 0 auto;
  max-width: 10vw;
  vertical-align: middle;
}


/* Green promo container */

.promo-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #1db954;
  color: white;
  margin: 3vw;
  padding: 4vw;
}

.promo-container h3 {
  text-decoration: underline white 0.3vh;
  text-underline-offset: 1vh;
  font-size: 1.5em;
  padding-bottom: 2vh;
}

.promo-container h4 {
  font-size: 1.25em;
}

.promo-article p {
  width: 25vw;
}

.promo-container aside {
  align-self: center;
}

#app-image {
  width: 25vw;
}

#logo {
  width: 10vw;
  align-self: center;
}

/* Media Breakpoints */
